.metadata/
Servers/
Capture_Server/.classpath
CAndroid/bin/classes/activities/TR1.class
/Capture_Server/bin/dataStore/ActiveUser.class
/Capture_Server/bin/dataStore/Block.class
/Capture_Server/bin/dataStore/DatabaseHelper.class
/Capture_Server/bin/dataStore/Globals.class
/Capture_Server/bin/dataStore/Map.class
/Capture_Server/bin/dataStore/ServerInternalData.class
/Capture_Server/bin/dataStore/ServletInfo.class
/Capture_Server/bin/dataStore/User.class
/Capture_Server/bin/logicUnit/Worker.class
/Capture_Server/bin/servlets/Resolver.class
/Capture_Server/bin/servlets/WS_Server.class
/Capture_Server/bin/servlets/WS_Server$EchoSocket.class
/Capture_Server/bin/servlets/WS_Server$Runnn.class
/Capture_Server/bin/tools/Crypto.class
/Capture_Server/bin/*
/CAndroid/bin/*
/CAndroid/gen/*
/CAndroid/.settings/org.eclipse.jdt.core.prefs	
/CAndroid/bin/jarlist.cache
/README/DEV/Random_Crap.txt~
/README/DEV/Reading_Materials.txt~
/README/DEV/Request_Parameters.txt~
/README/Libs.txt~
/README/TODO.txt~
/README/DEV/CURL_commands.txt~
